<app-layout [withBackButton]="false">
  <ng-container role="header">
    
  </ng-container>

  <ng-container role="body">
    <div class="banner background-primary">
      <h1>CinePS</h1>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Bienvenido a CinePS</h2>
          <p class="text-center">La mejor plataforma para ver tus películas y series favoritas</p>
        </div>
      </div>
    </div>
  </ng-container>
</app-layout>