<app-layout [withBackButton]="false">
  <ng-container role="header">
    <button mat-flat-button routerLink="/login">
      <span>se connecter</span>
      <mat-icon>person</mat-icon>
    </button>
  </ng-container>

  <ng-container role="body">
    <div class="banner background-primary">
      <h1>Ciné PS</h1>
    </div>
    
    <div class="container" [ngStyle]="{'background': 'linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(images/space.jpg) no-repeat top / cover'}">
      id : --{{ (donneesJour | async) }}--
    </div>
  </ng-container>

  <ng-container role="footer">
    <div class="copyright background-primary">
      © 2024 Ciné PS
    </div>
  </ng-container>
</app-layout>