<app-layout [withBackButton]="false">
  <ng-container role="header">
    <button mat-flat-button [matMenuTriggerFor]="login">
      <span>utilisateur</span>
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu #login="matMenu" xPosition="before">
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Se déconnecter</span>
      </button>
    </mat-menu>
  </ng-container>

  <ng-container role="body">
    <div class="banner background-primary">
      <h1>Ciné PS</h1>
    </div>
    
    <div class="container" [ngStyle]="{'background': 'linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(images/space.jpg) no-repeat top / cover'}">
    </div>
  </ng-container>
</app-layout>